.portfolio-section-photos {
    background-color: white;
  }
  
  .portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
  }
  
  .grid-paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
  }
  
  .grid-portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
  }
  
  .grid-paysages img,
  .grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .lien-conteneur-photo {
    position: relative;
  }
  
  .photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .lien-conteneur-photo:hover .photo-hover {
    display: flex;
  }

  .lien-icone {
    margin-left: 30px;
  }
  
  .lien-icone:hover {
    opacity: 0.5;
  }

  header.header {
    display: flex;
    margin: 0px;
    align-items: center;
    background-attachment: fixed;
    background-color:khaki;
}


  header.header p {
    width: 120px;
    height: 150px;  

}

header.header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
    margin-left:  75px;
      
}

header.header nav ul li a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
   background-color:#1f2;
   padding: 7px;
   font-size: 15px;
   border: solid;
}

header.header nav ul {
  display: inline-block;
}

header.header nav ul li:hover a{
    color: white; 
    background-color:blue;
    transition: 0.4s;  
}

.titre {
  background-color: #1f242d;
  font-size: 35px;
  text-align: center;
  color: yellow;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  background-color: white;

}

.footer-text p {
  font-size: 1.6rem;

}

.footer-icontop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background:;
  border-radius: .8rem;
  transition: .3s ease;
}

.footer-icontop a:hover {
  box-shadow: 0 0 1rem blue;
}

.footer-icontop a i {
  font-size: 1.8rem;
  color: plum;
}

  
  @media screen and (max-width: 996px) {
    .grid-paysages {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  
    .grid-portraits {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }



  /* li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: #0ef;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale  0.2 ease;
}

.action-btn:hover {
    scale: 0.95;

}

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    display: none;
    height: 0;
    transition: height 0.2s cubic-bezier;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
} */















/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: khaki;
}



.portofolio {
    background: var(--second-bg-color);
}
.portofolio h2 {
    margin: bottom 3rem;
}

.portofolio-contenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portofolio-contenu .portofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portofolio-box img {
    width: 100%;
    transition: .3s ease;
}

.portofolio-box:hover {
    transform: scale: (1.1);
}

.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .3s ease;
}

.portofolio-box:hover .portofolio-layer {
transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 1.6rem;
}

.portofolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--texte-color);
    border-radius: 50%;
}

.portofolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);

} */